*{
    padding:0;
    margin:0;
}

body {
    background-image:linear-gradient(180deg,blue,rgba(0, 255, 255, 0.609));
    font:normal 25pt arial ;
    color: white;
}

header {
    color:white;
    text-align:center;
    margin-bottom:30px;
}
section {
    background:white;
    border-radius:10px;
    padding:15px;
    width:500px;
    margin:auto;
    margin-bottom:30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.397);
}
div {
    text-align: center;
    padding:8px;
}

footer {
    color:white;
    text-align: center;
    font-style: italic;
}

.span {
    font-size:60px
}

#wel {
    font: italic 30pt;
    color:white;
}

.main-city{
    margin-top: 20px;
    font:italic;
}

#txtct {
    margin:200px;
}


#fcity {
    font: italic 25pt;
}

#copy {
    color:rgba(141, 152, 246, 0.883);
    font: italic;
    margin-bottom: 20px;
}


#botao {
    margin-left:700px;
    margin-right:250px;
    background:#069cc2;
    border-radius:6px;
    padding:15px;
    cursor: pointer;
    border:none;
    font-size:16px;
}

#text {
    margin:50px;
    margin-right:50px;
    margin-top: 100px;
}

#sea {
    margin:100px;
}


.insta{
    margin-top:50px;
    margin-right:300px;
    width:50px;
    height:50px;
}

.instagram{
    margin-top: 150px;
    margin-right: 600px;
}

.feedback{
    margin-top:2px;
    margin-right: 600px;
}

.Breact {
    margin-top:20px;
    margin-right:600px;
    padding:15px;
    background:#069cc2;
    border:none;
    border-radius:6px;
    cursor:pointer;
}